/* -----GENERAL SETTINGS---------- */
:root {
    --primary : #222831;
    --col2 : #393E46;
    --col3 : #00ADB5;
    --col4 : #EEEEEE;
    --prim2 : #F1BA88;
    --col2b : #E9F5BE;
    --col2c : #81E7AF;
    --col2d : #03A791;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--primary);
    color: var(--prim2);
}
#notice{
    font-size: xx-small;

    transition: font-size 0.3s ease-in-out, transform 0.3s ease-in-out;
}
#notice:hover{
    font-size: large;
}
.testingheading{
    color: var(--col2c);
    font-style: italic;
}
.testzone{
    background-color: var(--col2);
    margin: 1vh;
    padding: 1vh;
    font-family: consolas;
    font-size: smaller;
}

/* -------------test-1----------------- */
.ancestor .child{
    color: #00ADB5;
}